@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.carousel-btn {
    background-color: orange;
    border: none;
    padding: 10px 5px 10px 5px ;
    font-size: 20px;
    margin: 0 110px;
    border-radius: 50%;
    cursor: pointer;
  
}
img{
    width:48px;
  
    
}
.carousel-container {
    width: 100%;

  }
  .custom-dot-list-style {
    display: none !important;
  }

  .react-multiple-carousel__arrow {
    display: none !important;
  }

  .shot2{
   padding: 10px 0 5px 0;
   text-align: left;
   font-size: 14px;
   font-family: "Montserrat";
   font-weight: 300;
   
  }
  .shot{
   text-align: right;
   font-size: 16px;
   margin-left:-3%;
   font-family: "Montserrat";
   font-weight: 400;
   display: flex;
   justify-content: space-around;
  }
 .price{
  text-align: right;
  margin-right: 13%;
  margin-top:-20px;
  font-size: 14;
  font-family: "Montserrat";
  font-weight: 400;
  margin-bottom: 65px;
 }

 .heart-icon{
  position: absolute;
  top: 10px;
  right: 70px;
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
 }
 .cart-icon{
  position: relative;
  bottom: 24px;
  right: 41px;
  background: none;
  border: none;
  cursor: pointer;
  width: 22px;
  height: 24px;
 }
 .qwert{
  display: flex;
 justify-content:space-between;
 align-items: center;
  padding:0 10px;
 }
 @media (max-width: 768px) {
    .shot2 {
        font-size: 14px;
      }
    
      .shot {
        font-size: 16px;
        font-weight: bold;
      }
    
      .price {
        font-size: 14px;
        margin-right: 0px;
        margin-bottom: 20px;
      }
    
      .carousel-btn, .carousel-container {
        display: none; 
      }
      .heart-icon{
        margin-right: -50px;
      }
      .cart-icon{
        left: 10px;
      }
    }
    
 