@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.carousel-btn {
  background-color: orange;
  border: none;
  padding: 1vh 0.5vh; 
  font-size: 0.1vh; 
  margin: 0 10%; 
  border-radius: 50%;
  cursor: pointer;
}
.corousel-item{
padding: 10px;
}

.carousel-container {
  width: 100%;
}
.react-multiple-carousel__arrow {
  display: none !important;
}

.fabric {
  padding: 1vh 0 0.5vh 0; 
  text-align: left;
  font-size: 1.6vh; 
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.shot {
  text-align: right;
  font-size: 1.8vh; 
  margin-left: -7%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-between; 
}

.price {
  text-align: right;
  margin-right: 1%;
  margin-top: -2.6vh; 
  font-size: 1.8vh; 
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 5vh; 
}

.heart-icon {
  position: absolute;
  top: 2vh; 
  right: 18vw; 
  background: none;
  border: none;
  cursor: pointer;
  width: 3vh; 
}

.cart-icon {
  position: relative;
  bottom: 3vh;
  right: -0.2vw; 
  background: none;
  border: none;
  cursor: pointer;
  width: 2.5vh; 
  height: 2.5vh; 
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vh; 
}

@media (max-width: 768px) {
  .fabric {
    font-size: 1.7vh; 
  }

  .shot {
    font-size: 2vh; 
    font-weight: bold;
  }

  .price {
    font-size: 1.8vh; 
    margin-right: 0;
    margin-bottom: 4vh; 
  }

  .carousel-btn {
    display: none; 
  }

  .heart-icon {
    margin-right: -15vw; 
  }

  .cart-icon {
    left: 2vw; 
  }

  .carousel-container {
    display: none;
  }
}

@media (max-width: 375px) {
  .carousel-container {
    display: none; 
  }
  .fabric {
    font-size: 1.7vh; 
  }

  .shot {
    font-size: 2vh; 
    font-weight: bold;
  }

  .price {
    font-size: 1.8vh; 
    margin-right: 0;
    margin-bottom: 4vh; 
  }

  .carousel-btn {
    display: none; 
  }

  .heart-icon {
    margin-right: -15vw; 
  }
}



